@import '../abstracts/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    background-color: $color-bg-dark;
    color: $color-text-main;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    font-family: inherit;
    color: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}